/* Base Application Styles */
body
  color #333
  padding 0 .5rem
#app
	padding 1rem 0
.test-ul
	margin 0
	padding 0
	list-style none
.test-ul
	li
		margin-bottom 1rem
.itme-title
  font-size 1.4rem
  font-weight bold
  text-align left
  margin-top 0;
.leftbox-title
  font-size .71rem
.itembox
  display flex
  position relative
.author
  display block
  background-color #5391c4
  padding .1rem .2rem
  color #fff
  border-radius .3rem
  width 5rem
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
  text-align center
.category
  display block
  padding .1rem .2rem
  background-color #f1f1f1
  color #e48984
  border-radius .3rem
  width 5rem
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
  margin-left 2rem
  text-align center
.timebox
  display block
  background-color #999
  padding .1rem .2rem
  border-radius .3rem
  color #fff
  width 8rem
  position absolute
  top 0
  right 0
  text-align center
.item-content
  display flex
  height 11.8rem
  text-decoration none
  color #444
.leftbox
  width 60%
  display -webkit-box
  -webkit-box-orient vertical
  -webkit-line-clamp 6
  overflow hidden
  padding 1rem 0
  line-height 1.8rem
  color #bfbfbf
.rightbox
  width 40%
.item-content p
  line-height 1.8rem
  margin-top .9rem
  margin-bottom 0
  color #bfbfbf
.imgbox
  width 80%
  height 0
  padding 40% 0
  position relative
  float right
  margin-top 1.4rem
  overflow hidden
.imgbox
	.img
	  width 100%
	  height 100%
	  position absolute
	  top 0
	  left 0
	  background-color #ccc
	  overflow hidden
	  object-fit cover